input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.App {
  text-align: center;
}

.App-container {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /*justify-content: center;*/
  font-size: calc(10px + 2vmin);
  color: white;
}

.line {
  white-space: normal;
}

.terminal {
  border-radius: 0.125em;
  border: 2px solid white;
  font-family: 'Courier New', Courier, monospace;
  min-height: 25em;
  margin-top: 2em;
  padding: 0.1em 0.5em;
  text-align: left;
  white-space: normal;
  width: 80%;
  
}

.terminal input {
  background-color: inherit;
  border: none;
  color: white;
  font-family: inherit;
  font-size: inherit;
}

.terminal input:focus {
  outline: none;
}

.index {
  color: #0070ff;
}
